.container {
  display: flex;
  flex-direction: column;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (min-width: 767px) {
  .container {
    display: grid;
    gap: 5px;
    grid-template-columns: 50% 50%;
  }
}

@media screen and (min-width: 1023px) {
  .container {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
  }
  .special {
    grid-column: 2 / span 2;
    grid-row: 1 / span 2;
  }
}
