.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.element {
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  height: 2rem;
  width: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.element:first-of-type {
  padding-top: 1rem;
}
.element:last-of-type {
  padding-bottom: 1rem;
}

body {
  margin-top: 0;
}

@media screen and (min-width: 769px) {
  .container {
    flex-direction: row;
    justify-content: flex-end;
  }
  .element {
    min-width: 108px;
  }
  .element:first-of-type {
    padding-top: 0rem;
    padding-left: 50%;
  }
  .element:last-of-type {
    padding-bottom: 0rem;
  }
  body {
    margin: 0;
  }
}
